---
import Layout from "layouts/index.astro";

---

<Layout title="404">
  <main class="mx-auto max-w-lg w-full text-center">
    <div class="absolute top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%] px-[14px] w-full">
      <h1 class="font-poppins font-bold text-xl text-cyan-600">404</h1>
      <p class="font-poppins text-blue-800 text-base">Página não encontrada.</p>
    </div>
  </main>
</Layout>