---
import Layout from "layouts/Layout.astro";
---

<Layout title="Politica de privacidade">
  <main class="flex flex-col">
    <section class="section_content mt-[142px] text-blue-800 leading-normal flex flex-col items-center animate-fade">
      <div>
        <article class="flex flex-col gap-y-2 max-w-[662px] w-full">
          <h2 class="text-md text-center">
            <strong>Termo de Uso:</strong> Sofia Resolve - Assistente Virtual com Inteligência Artificial
          </h2>
          <p>Bem-vindo(a) ao nosso serviço de assistente virtual com inteligência artificial (Sofia Resolve).</p>
          <p>
            Este documento estabelece os termos e condições que regem o uso do nosso serviço. Ao utilizar a Sofia Resolve, você concorda em cumprir e ficar vinculado a estes termos. Leia atentamente todas as disposições abaixo antes de usar o serviço.
          </p>
          <ul>
            <li>
              <p>
                <strong>Descrição do Serviço:</strong> a Sofia Resolve é uma ferramenta baseada em inteligência artificial que executa tarefas básicas para facilitar a vida do empreendedor. Ela foi desenvolvida para auxiliar em atividades específicas, tais como: criar copy de vendas, descrever detalhadamente um produto, desenvolver um pitch de vendas, gerar contratos, descrever vagas em aberto, criar um fluxo de caixa, dentre outras. 
              </p>
            </li>
            <li>
              <p>
                <strong>Uso Adequado:</strong> Ao utilizar a Sofia Resolve, você concorda em fazer uso adequado do serviço. Isso inclui:
              </p>
            </li>
            <li>
              <p>a) Fornecer informações precisas e atualizadas à Sofia Resolve;</p>
            </li>
            <li>
              <p>b) Utilizar o serviço apenas para fins legais e de acordo com a legislação aplicável;</p>
            </li>
            <li>
              <p>c) Respeitar os direitos de propriedade intelectual relacionados à Sofia Resolve e às informações fornecidas por ela;</p>
            </li>
            <li>
              <p>
                d) Não realizar atividades que possam prejudicar a integridade da Sofia Resolve,como introduzir vírus, malware, ou qualquer outra forma de código malicioso;
              </p>
            </li>
            <li>
              <p>
                e) Não acessar, modificar ou utilizar informações da Sofia Resolve para fins não autorizados ou ilícitos;
              </p>
            </li>
            <li>
              <p>
                f) Não utilizar a Sofia Resolve para causar interrupções ou danos aos nossos sistemas ou redes.
              </p>
            </li>
            <li>
              <p>
                <strong>Limitações do Serviço:</strong> A Sofia Resolve é uma ferramenta automatizada que opera com base em algoritmos e inteligência artificial. Embora envidamos esforços para fornecer respostas precisas e úteis, não podemos garantir a exatidão ou a completude das informações fornecidas pela Sofia Resolve. O uso da Sofia Resolve é de sua responsabilidade e risco.
            </li>
            <li>
              <p>
                <strong>Privacidade e Proteção de Dados:</strong> Ao utilizar a Sofia Resolve, coletamos e processamos certas informações da sua empresa, conforme descrito em nossa Política de Privacidade. Ao fornecer essas informações, você concorda com a coleta, o uso e o armazenamento desses dados de acordo com a nossa Política de Privacidade.
              </p>
            </li>
            <li>
              <p>
                <strong>Propriedade Intelectual:</strong> A Sofia Resolve, incluindo seu software, design, algoritmos e conteúdo, é protegida por direitos autorais, marcas registradas e outras leis de propriedade intelectual. Você concorda em respeitar todos os direitos de propriedade intelectual relacionados à Sofia Resolve.
              </p>
            </li>
            <li>
              <p>
                <strong>Isenção de Responsabilidade:</strong> O uso da Sofia Resolve é por sua conta e risco. Não nos responsabilizamos por quaisquer danos diretos, indiretos, incidentais, consequenciais ou punitivos decorrentes do uso da Sofia Resolve ou da impossibilidade de utilizá-lo, mesmo que tenhamos sido informados sobre a possibilidade de tais danos.
              </p>
            </li>
            <li>
              <p>
                <strong>Modificações e Suspensão do Serviço:</strong> Reservamos o direito de modificar, suspender ou encerrar a Sofia, total ou parcialmente, a qualquer momento e sem aviso prévio.
              </p>
            </li>
          </ul>
        </article>
        <article class="flex flex-col gap-y-2 max-w-[662px] w-full mt-6">
          <h2 class="text-md text-center">
            <strong>Política de Privacidade:</strong> Sofia Resolve - Assistente Virtual com Inteligência Artificial
          </h2>
          <p>
            A privacidade dos seus dados é de extrema importância para nós. Esta Política de Privacidade explica como coletamos, usamos, compartilhamos e protegemos as informações pessoais fornecidas por você ao utilizar o nosso serviço de assistente virtual com inteligência artificial (Sofia Resolve). Leia atentamente esta política antes de utilizar o serviço.
          </p>
          <ul>
            <li>
              <strong>Informações Coletadas:</strong> Ao utilizar o Assistente Virtual, podemos coletar as seguintes informações pessoais:
            </li>
            <li>
              <p>
                a) Informações fornecidas por você: Isso inclui informações como nome, endereço de e-mail, número de telefone e quaisquer outros dados que você opte por fornecer ao interagir com o Assistente Virtual.
              </p>
            </li>
            <li>
              <p>
                b) Informações de uso: Coletamos dados sobre a sua interação com o Assistente Virtual, como as consultas feitas, ações realizadas e preferências demonstradas durante o uso do serviço.
              </p>
            </li>
            <li>
              <p>
                c) Informações técnicas: Podemos coletar informações técnicas, como endereço IP, tipo de dispositivo, navegador utilizado, informações de log e outros dados relacionados à sua conexão e uso do Assistente Virtual.
              </p>
            </li>
          </ul>
          <ul>
            <li>
              <strong>Uso das Informações:</strong> Utilizamos as informações pessoais coletadas para os seguintes fins:
            </li>
            <li>
              <p>
                a) Fornecer e personalizar o Assistente Virtual de acordo com suas necessidades e preferências individuais.
              </p>
            </li>
            <li>
              <p>
                b) Melhorar e otimizar a funcionalidade e desempenho do Assistente Virtual.
              </p>
            </li>
            <li>
              <p>
                c) Responder a suas consultas, solicitações de suporte ou fornecer assistência técnica.
              </p>
            </li>
            <li>
              <p>
                d) Enviar comunicações relacionadas ao serviço, como atualizações, informações sobre novos recursos ou alterações nos termos de uso ou na política de privacidade.
              </p>
            </li>
            <li>
              <p>
                e) Realizar análises estatísticas e pesquisas para melhorar nosso serviço.
              </p>
            </li>
          </ul>
          <ul>
            <li>
              <strong>Compartilhamento de Informações:</strong> Podemos compartilhar suas informações pessoais nas seguintes circunstâncias:
            </li>
            <li>
              <p>
                a) Com fornecedores de serviços terceirizados: Podemos compartilhar suas informações com terceiros que nos auxiliam na prestação do serviço, como provedores de armazenamento de dados, hospedagem, suporte técnico, entre outros. Esses terceiros estão sujeitos a obrigações contratuais de confidencialidade e só podem utilizar suas informações conforme estritamente necessário para cumprir suas funções.
              </p>
            </li>
            <li>
              <p>
                b) Para cumprir obrigações legais: Podemos divulgar informações pessoais se exigido por lei, processo legal, solicitação governamental, ou para proteger nossos direitos legais ou a segurança de outros usuários.
              </p>
            </li>
            <li>
              <p>
                c) Com o seu consentimento: Podemos compartilhar suas informações com terceiros mediante seu consentimento explícito.
              </p>
            </li>
          </ul>
          <ul>
            <li>
              <p>
                <strong>Medidas de Segurança:</strong> Empregamos medidas de segurança técnicas, administrativas e físicas adequadas para proteger suas informações pessoais contra acesso não autorizado, uso indevido, alteração ou divulgação. No entanto, nenhum método de transmissão pela Internet ou sistema de armazenamento eletrônico é completamente seguro, e não podemos garantir a segurança absoluta dos dados.
              </p>
            </li>
            <li>
              <p>
                <strong>Retenção de Dados:</strong> Retemos suas informações pessoais pelo tempo necessário para cumprir os fins descritos nesta política, a menos que uma retenção mais longa seja exigida ou permitida por lei.
              </p>
            </li>
            <li>
              <p>
                <strong>Direitos do Usuário:</strong> Você tem determinados direitos em relação às suas informações pessoais, sujeitos às leis de proteção de dados aplicáveis. Esses direitos podem incluir:
              </p>
            </li>
            <li>
              <p>
                a) Acesso e retificação: Você tem o direito de acessar as informações pessoais que temos sobre você e solicitar a correção de quaisquer imprecisões.
              </p>
            </li>
            <li>
              <p>
                b) Exclusão: Você pode solicitar a exclusão de suas informações pessoais, sujeito às nossas obrigações legais de retenção de dados.
              </p>
            </li>
            <li>
              <p>
                c) Restrição de processamento: Em certas circunstâncias, você pode solicitar a restrição do processamento de suas informações pessoais.
              </p>
            </li>
            <li>
              <p>
                d) Portabilidade de dados: Quando aplicável, você tem o direito de receber suas informações pessoais em um formato estruturado, de uso comum e legível por máquina, e transmiti-las a outro controlador de dados.
              </p>
            </li>
            <li>
              <p>
                e) Objeção ao processamento: Seu direito de se opor ao processamento de suas informações pessoais pode ser exercido em determinadas situações, como quando o processamento é baseado em interesses legítimos.
              </p>
            </li>
            <li>
              <p>
                f) Retirar o consentimento: Se você nos forneceu o consentimento para processar suas informações pessoais, tem o direito de retirar esse consentimento a qualquer momento.
              </p>
            </li>
          </ul>
          <ul>
            <li>
              <p>
                <strong>Menores de Idade:</strong> O Assistente Virtual não se destina a ser utilizado por menores de idade sem o consentimento dos pais ou responsáveis legais. Não coletamos intencionalmente informações pessoais de menores de idade. Se você acredita que coletamos informações de um menor sem o consentimento adequado, entre em contato conosco e tomaremos as medidas necessárias para remover essas informações de nossos sistemas.
              </p>
            </li>
            <li>
              <p>
                <strong>Alterações na Política de Privacidade:</strong> Podemos atualizar esta Política de Privacidade periodicamente para refletir alterações nas práticas de privacidade. Recomendamos que você revise esta política regularmente. As alterações entrarão em vigor a partir da data de publicação da versão atualizada.
              </p>
            </li>
            <li>
              <p>
                <strong>Contato:</strong> Se você tiver dúvidas, preocupações ou solicitações relacionadas a esta Política de Privacidade ou ao uso das suas informações pessoais, entre em contato conosco através dos canais fornecidos em nosso site.
              </p>
            </li>
          </ul>
          <p>
            Esta Política de Privacidade é efetiva a partir da data de publicação e se aplica ao uso do nosso serviço de assistente virtual com inteligência artificial. Ao utilizar a Sofia Resolve, você concorda com o processamento das suas informações pessoais conforme descrito nesta política.
          </p>
        </article>
      </div>
    </section>
  </main>
</Layout>
