---
import { PipeTechLogo } from "./react-components/sofia-resolve-logo";

import { links } from '../constants';

const SOCIAL_MEDIAS = [
  {
    media: "Facebook",
    href: "https://www.facebook.com/pipetechinnovation",
    svg_logo: '<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="20.4092" cy="20.4092" r="20.4092" fill="#4C73F4"/> <path d="M21.4915 29.1857V21.0995H24.2195L24.625 17.9335H21.4915V15.9169C21.4915 15.0033 21.7461 14.3778 23.0573 14.3778H24.7187V11.5552C23.9103 11.4685 23.0978 11.4267 22.2848 11.4299C19.8735 11.4299 18.218 12.9019 18.218 15.6042V17.9276H15.5078V21.0936H18.2239V29.1857H21.4915Z" fill="#F9F9F9"/></svg>'
  },
  {
    media: "LinkedIn",
    href: "https://www.linkedin.com/company/pipetechapps/",
    svg_logo: '<svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20.6597" cy="20.4092" r="20.4092" fill="#4C73F4"/><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4391 26.5325H25.3039V21.6273C25.3039 20.4569 25.2842 18.9528 23.6751 18.9528C22.0441 18.9528 21.7949 20.2274 21.7949 21.5428V26.5325H18.6628V16.4443H21.6681V17.8239H21.7119C22.1294 17.031 23.1526 16.1944 24.6779 16.1944C27.8523 16.1944 28.4383 18.283 28.4383 20.9998L28.4391 26.5325ZM15.1281 15.067C14.8892 15.0672 14.6526 15.0203 14.4318 14.929C14.211 14.8376 14.0104 14.7036 13.8414 14.5347C13.6725 14.3657 13.5385 14.1651 13.4471 13.9443C13.3558 13.7235 13.3089 13.4869 13.3091 13.248C13.3091 12.8884 13.4157 12.5369 13.6154 12.2379C13.8151 11.939 14.099 11.7059 14.4312 11.5682C14.7634 11.4306 15.1289 11.3945 15.4815 11.4645C15.8342 11.5346 16.1582 11.7076 16.4126 11.9617C16.6669 12.2159 16.8402 12.5397 16.9105 12.8923C16.9809 13.2449 16.9451 13.6105 16.8077 13.9428C16.6703 14.275 16.4375 14.5591 16.1387 14.7591C15.8398 14.9591 15.4884 15.066 15.1289 15.0663L15.1281 15.067ZM16.6965 26.5325H13.5583V16.4443H16.6965V26.5325Z" fill="#F9F9F9"/></svg>'
  },
  {
    media: "Instagram",
    href: "https://www.instagram.com/pipetechsoftware/",
    svg_logo: '<svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.375977" width="41.0003" height="41" rx="20.5" fill="#4C73F4"/><path d="M20.8741 17.9989C19.4969 17.9989 18.373 19.1228 18.373 20.5C18.373 21.8772 19.4969 23.0011 20.8741 23.0011C22.2513 23.0011 23.3752 21.8772 23.3752 20.5C23.3752 19.1228 22.2513 17.9989 20.8741 17.9989ZM28.3754 20.5C28.3754 19.4643 28.3848 18.438 28.3267 17.4042C28.2685 16.2033 27.9946 15.1376 27.1165 14.2595C26.2365 13.3796 25.1726 13.1075 23.9718 13.0493C22.9361 12.9912 21.9098 13.0006 20.876 13.0006C19.8403 13.0006 18.814 12.9912 17.7801 13.0493C16.5793 13.1075 15.5136 13.3814 14.6355 14.2595C13.7555 15.1395 13.4835 16.2033 13.4253 17.4042C13.3672 18.4399 13.3765 19.4662 13.3765 20.5C13.3765 21.5338 13.3672 22.562 13.4253 23.5958C13.4835 24.7967 13.7574 25.8624 14.6355 26.7405C15.5155 27.6204 16.5793 27.8925 17.7801 27.9507C18.8158 28.0088 19.8422 27.9994 20.876 27.9994C21.9117 27.9994 22.938 28.0088 23.9718 27.9507C25.1726 27.8925 26.2384 27.6186 27.1165 26.7405C27.9964 25.8605 28.2685 24.7967 28.3267 23.5958C28.3867 22.562 28.3754 21.5357 28.3754 20.5V20.5ZM20.8741 24.3482C18.7445 24.3482 17.0259 22.6296 17.0259 20.5C17.0259 18.3704 18.7445 16.6518 20.8741 16.6518C23.0037 16.6518 24.7223 18.3704 24.7223 20.5C24.7223 22.6296 23.0037 24.3482 20.8741 24.3482ZM24.8799 17.3929C24.3827 17.3929 23.9812 16.9914 23.9812 16.4942C23.9812 15.997 24.3827 15.5954 24.8799 15.5954C25.3772 15.5954 25.7787 15.997 25.7787 16.4942C25.7788 16.6122 25.7557 16.7292 25.7106 16.8383C25.6655 16.9474 25.5993 17.0465 25.5158 17.13C25.4323 17.2135 25.3332 17.2797 25.2241 17.3248C25.1149 17.3699 24.998 17.393 24.8799 17.3929V17.3929Z" fill="white"/></svg>'
  },
]
---

<footer class="bg-blue-500">
  <div class="section_content lg:py-[50px] py-[50px]">
    <div class="w-full leading-[177%] grid grid-cols-1 lg:grid-cols-2">
      <div class="max-w-[492px] w-full">
        <div class="mb-[24px]">
          <PipeTechLogo />
        </div>
        <p class="text-base font-manrope text-grey-600">Utilize a tecnologia para impulsionar o seu negócio de modo rápido e prático e ter uma vida menos sobrecarregada. Entre em contato ainda hoje e começe a ver os resultados.</p>

        <ul class="flex gap-[15px] mt-[42px]">
          {SOCIAL_MEDIAS.map((socialMedia) => (
            <li>
              <a
                href={socialMedia.href}
                aria-label={`Clique para visitar o ${socialMedia.media} da Sofia Resolve`}
                target="_blank"
                rel="noreferrer"
                class="hover:brightness-125 transition-all"
              >
                <div set:html={socialMedia.svg_logo} aria-hidden="true" />
              </a>
            </li>
          ))}
        </ul>
      </div>

      <div class="flex justify-normal sm:justify-between flex-col sm:flex-row lg:mt-0 mt-[32px] gap-[56px]">
        <ul class="text-blue-800">
          <li class="font-medium">
            <li class="text-blue-600 font-poppins text-blue-600 text-[1.25rem] font-semibold mb-[16px]">Email</li>
          </li>
          <li class="mb-[25px] font-medium">
            <a href="mailto:contato@pipetech.com.br" class="text-blue-700">contato@pipetech.com.br</a>
          </li>
          <li class="font-poppins text-[1.25rem] font-semibold mb-[16px] text-blue-600 font-poppins">Contato</li>
          <li class="text-blue-700">
            <a
            href="https://wa.me/5561998066454"
            target="_blank" 
            rel="noopener noreferrer"
          >
          (61) 99806-6454
            </a>
        </li>
        </ul>

        <ul class="text-blue-800 max-w-[286px] w-full">
          <li class="font-poppins text-[1.25rem] font-semibold mb-[16px] text-blue-600 font-poppins">Endereço</li>
          <li class="mb-[25px] font-medium text-blue-700">
            AVENIDA PAULISTA, 1471 - Conj. 511 - Sala 02 - CP 4859
            BAIRRO: BELA VISTA - CEP: 01311-927 - SÃO PAULO - SP
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>