---
import "@fontsource-variable/manrope";
import "@fontsource/poppins";
import '@fontsource-variable/inter';

import 'animate.css';

import "../styles/base.css";
import "../animations/css/animations.css"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Utilize a inteligência artificial para realizar tarefas de modo rápido e prático e ter uma vida menos sobrecarregada. Experimente hoje e começe a ver os resultados.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-pipe-tech.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Pipetech</title>
	</head>
	<body>
		<slot />
	</body>
</html>
	
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-4NDM84VL1C%22%3E"></script>
<script is:inline src="/scripts/google-analytics.js"></script>
<script is:inline src="/scripts/facebook-pixel.js"></script>
<script is:inline src="/scripts/meta-pixel.js"></script>